.bluecolor{color:#2196f3;}
.orangecolor{color:#fd4640;}
.categories{color:#e4d5c1;}
.purplecolor{color:#9c27b0;}
.greencolor{color:olive;}
.redcolor{color:#e91e63;}
.yellowcolor{color:rgb(229, 233, 24);}
.graycolor{color:lightslategrey;}