
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LibraryManagment.Data.Model
@model List<Category>

<div class="main-title d-flex align-items-center justify-content-between mb-3">
    <div class="title">
        <h2>Kategoriler</h2>
    </div>
    <div class="btn-wrapper mx-2">
        <button id="kategoriEkle" class="ctgAdd btn btn-primary">Kategori Ekle</button>
    </div>
</div>

<style>
    .dataTables_wrapper{
        width:95%!important;
    }
    .category{
        color:orangered;
    }
</style>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Kitap Adı</th>
                    <th>Kitap Adeti</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ctg in Model)
                {
                    <tr>
                        <td>@ctg.CategoryName</td>
                        <td>@ctg.Books.Count()</td>
                        <td><button class="update btn btn-success" value="@ctg.ID">Güncelle</button></td>
                        <td><button class="delete btn btn-danger" value="@ctg.ID">Sil</button></td>
                    </tr>
                }

            </tbody>
        </table>


